.logo {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 300px; /* Set a small width */
    height: 300px;
}


.profile_card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

.profile_card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}

/* Jumbotron is the background on homepage */
.jumbotron {
    background-image: url('http://video-university.87seconds.com/content/uploads/2015/07/music-free.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Date dropdown bar on the homepage-- centers it and makes it smaller */
#date_dropdown {
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto
    ;

}