.logo {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 300px; /* Set a small width */
    height: 300px;
}


.profile_card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

.profile_card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}

/* Jumbotron is the background on homepage */
.jumbotron {
    background-image: url('/static/homepage_hands.jpg');
    background-size: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Date dropdown bar on the homepage-- centers it and makes it smaller */
#date_dropdown {
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


/* This is for the description under jam logo */
.jumbotron_description {
    color: white;
    font-weight: bold;
    display: inline;


}


/* This changes the navbar color */
.navbar {
    background-color: #c0ded9;
}

/* This is the style for my map*/
 #map {
        width: 100%;
        height: 400px;
        background-color: grey;
    }
