.logo {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 300px; /* Set a small width */
    height: 300px;
}

.logo.event-details {
    width: 400px; /* Set a small width */
    height: 400px;
}

}

.logo.profile {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 400px; /* Set a small width */
    height: 400px;
}



.profile_card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: white;
}

.title {
    color: grey;
    font-size: 18px;
}

.profile_card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.profile-card-link {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}

/* Jumbotron is the background on homepage */
.jumbotron {
    background-image: url('/static/homepage_hands.jpg');
    background-size: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 5px 10px;
}

/* Date dropdown bar on the homepage-- centers it and makes it smaller */
#date_dropdown {
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


/* This is for the description under jam logo */
.jumbotron_description {
    color: white;
    font-weight: bold;
    display: inline;

}


/* This changes the navbar color */
.navbar {
    background-color: #c0ded9;
    opacity: 0.8;
    color: black;
}

/* This is the style for my map*/
 #map {
        width: 100%;
        height: 400px;
    }
/* This is so the navbar doesn't overlay other content */
body { padding-top: 70px; }

/* This is css for event reccomendation thumbnail */
.event-name {
    height: 100px;
    position: relative;
    
}
.child {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.main-page-heading {
    padding: 30px;
    color: #e0e2e4;
    font-weight: bold;
    font-size: 45px;
}

/* This is the style for event-details page */

#other-users-going {
    padding-bottom: 10px;
    padding-top: 10px;
}

#event-details-block {
    padding: 10px;
}

#column-for-comments {
    border: 1px solid #ddd;
}

/* This is the style for the background photo */

body {
    background-size: cover;
    background-color: #484f4f; 
}

/* This is the style for my text: titles and paragraph font */

blockquote, p {
    color: #c8c3cc;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #e0e2e4;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}


/* Fixes CSS for navbar */

.navbar-nav>li>a {
    border-color: #ae142a;
    font-size: 17px;
    color: black;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;

}

.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
    border-color: #ae142a;
    color:white ;
    text-transform: uppercase;
    font-family: 'Bowlby One SC';
    font-weight: 700;
    background-color: black;
}

/* Event details page */

p#description {
    padding-right: 30px;
    text-align: justify;
}

/* Style for comments button and text area on evt. details */

#comment-submit-button {
    padding: 6px;
    border: 2px solid #563f46;
    background: #8ca3a3;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

#comment_text {
  padding: 6px;
  border: 2px solid #563f46;
  background-color: #c8c3cc;
  font-size: 16px;
  border-radius: 8px;
}

/* Style for my wells */

.row.well {
    border: 5px solid black;
    /*background-color: #8ca3a3;*/
    text-align: center;
    color: #484f4f;
    background-image: url('/static/homepage_hands.jpg');

}


/* This turns my comment list into a scrolling list */
ul#comment-list {
    height: 450px;
    overflow: scroll;
}

/* Styling for my profile */
img.logo.profile {
    height: 385px;
    width: 385px;
}

h3.profile-events-list {
    font-size: 27px;
    font-weight: bold;
    color: #e0e2e4;
    font-family: 'Coiny';
    border: 5px solid black;
    background-image: url('/static/homepage_hands.jpg');

}

.profile-events-list {
    text-align: center;
    padding: 15px;
    /*border: 1px solid white;*/
}

.col-xs-6.event-scroll {
    height: 600px;
    overflow: scroll;
}

/* Style for my homepage header */
.homepage-header {
    font-size: 45px;
    padding-bottom: 25px;
    padding-top: 30px;
}
