<!doctype html>
<html>
<head>
    <title>{% block title %}TITLE GOES HERE{% endblock %}</title>

    <!--Include CSS in the head-->
    <link rel="stylesheet" href="/static/style.css">

    <!--Include jquery CDN in the head-->
    <script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>

</head>
<body>
    <a href="/">Homepage</a><br>
    <a href="/register">Register User</a><br>

    {% if "user_id" not in session %}
    <a href="/login">Login</a><div>

    {% else %}
    <a href="/profile">Your Profile</a><div>
    <a href="/logout">Logout</a><div>
    {% endif %}

    <ul>
        {% for message in get_flashed_messages() %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>       

    {% block content %}BODY CONTENT GOES HERE{% endblock %}

 

    <footer>Copyright 2018</footer>
</body>
</html>