<!doctype html>
<html>
<head>
    <title>{% block title %}TITLE GOES HERE{% endblock %}</title>

    <!--Include CSS in the head for bootstrap before CSS of my own-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!--Include my own CSS in the head-->
    <link rel="stylesheet" href="/static/style.css">

    <!--Include jquery CDN in the head-->
    <script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>

</head>
<body>


<!--Navbar-->

    <a href="/">Search</a><br>
    <a href="/register">Register User</a><br>

    {% if "user_id" not in session %}
    <a href="/login">Login</a><div>

    {% else %}
    <a href="/my_profile">Your Profile</a><div>
    <a href="/logout">Logout</a><div>
    {% endif %}

    <ul>
        {% for message in get_flashed_messages() %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>       

    {% block content %}BODY CONTENT GOES HERE{% endblock %}


    <!--Include link to bootstrap at the botom of html body-->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>

    <footer>Copyright 2018</footer>
</body>
</html>