{% extends 'base.html' %}
{% block title %}Events{% endblock %}

{% block content %}

<!-- Bootstrap Jumbotron-->

<div class="jumbotron text-center">
  <div><img src="/static/jam_logo_white.png"/></div>
  <p class="jumbotron_description">Connecting people through music events!</p> 
</div>

<!-- Main Page Heading-->
<div class="container">
    <div class="row">
        <h1 style="text-align:center">{{ search_term }} Events in {{ location }}</h1>
    </div>

    <div class="row">

       <!-- Events list: Each event is its own div-->
        {% for event in events %}

        <div class="col-xs-4">
            <h4 style="text-align:center">
                Event Name: {{ event["name"] }}
            </h4>
            <p style="text-align:center">Event Start: {{ event["start_time"] }}</p>
            <p style="text-align:center">Event End: {{ event["end_time"] }}</p>
            <!-- This is like using a get request form: in the flask route request.form.get("event_id") -->
            <a href="/event_details?event_id={{ event['event_id'] }}">
                <img class="logo" src="{{ event["logo"] }}"/>
            </a>
        
        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}