
{% extends 'base.html' %}
{% block title %}EventDetails{% endblock %}

{% block content %}

<!-- Wrap the whole page in a container div-->

<div class="container">

    <!--Show bookmark success div-->
    <div class="row">
        <div class="alert alert-success" role="alert" id="bookmark_success" hidden></div>
    </div>

    <!--Row for the Title-->
    <div class="row">
        <!-- Title Here -->
        <h1 class="main-page-heading" id="name">
            {{ event_details.name }}
        </h1>
    </div>
    <!--Row for The entire body-->
    <div class="row">
        <!--Column for the Event Details-->
        <div id="column_for_details" class="col-sm-9">
            <!--Image and event details row-->
            <div id="row_for_img_and_deets" class="row">
                <div class="col-sm-6">
                    <!-- This will be my area for image -->
                    <img class="logo event-details" src="{{ event_details['logo'] }}"/>
                    <!-- This will be my buttons for bookmarking events -->
                </div>
                <div class="col-sm-6">
                    <!-- This will be area for details -->
                    <div id="event-details-block">
                        <h3 style="text-align:center;">Event Details</h3>
                        <p style="text-align:center;" id="venue_name">
                            Venue Name: {{ event_details.venue_name }}
                        </p>
                        <p style="text-align:center;" id="address">
                            Address: {{ event_details.address }}
                        </p>
                        <p style="text-align:center;" id="start_time">
                            Start Time: {{ event_details.start_time }}
                        </p>
                        <p style="text-align:center;" id="end_time">
                            End Time: {{ event_details.end_time }}
                        </p>
                        <div style="text-align:center;" id="eb_url">
                            <a href="{{ event_details['eb_url'] }}">Browse Tickets on Eventbrite
                            </a>
                        </div>

                    </div>

                </div><br><br><br>

                <div style="text-align:center;" id="other-users-going" class="col-sm-6">
                    <!-- This will be my row for other users going to an event
 -->
                    <!--List of other users going to selected events-->

                    {% if users_going and "user_id" in session %}

                    <div>
                        <h3>
                            Jam Users Going to {{ event_details.name }}
                        </h3><br> 
                        {% for user in users_going %}
                            {% if user.user_id != session["user_id"] %}
                                <ps>
                                    {{ user.name }}:
                                    <a href="/profile?user_id={{ user.user_id }}">
                                        <span class="glyphicon glyphicon-user">
                                        </span>
                                    </a>
                                </p>
                                
                            {% endif %}
                        {% endfor %}
                    </div>

                    {% endif %}   


                </div>
            </div>
            <div id="row_for_bookmarks" class="row">
            <!-- This will be my row for bookmarks -->

            <!--If the user is in the session, display bookmarks and comments ability, and other users going-->
            {% if "user_id" in session %}   
            <!--Bookmark div-->
                <div>
                    <h3>
                        Bookmark Event
                    </h3>
                    <input class="bookmark" id="going_button" type="radio" name="bookmark" value="going" data-eventid="{{ event_id }}" data-status="going" {% if bookmark and bookmark.bookmark_type_id == 1 %} checked {% endif %}/> I'm Going!

                    <input class="bookmark" id="interested_button" type="radio" name="bookmark" value="interested" data-eventid="{{ event_id }}" data-status="interested" {% if bookmark and bookmark.bookmark_type_id == 2 %} checked {% endif %}/> Interested 
                </div>
            {% endif %}

            </div>
             <div id="row_for_event_description"class="row">
                    <!-- This will be my row for event description -->
                    <!--Show event description-->
                    <p class="event_description">
                        <h3>
                            Event Description
                        </h3>

                        <p id="description">
                            {{ event_details.description | safe }}
                        </p>
                    </p>
                </div>
        </div>    
        <!--Column for the Comments-->
        <div id="column-for-comments" class="col-sm-3">
                <!--Comment div-->
                {% if "user_id" in session %} 
                    <div>
                        <h3 class="comments">
                            Comments
                        </h3>
                        <form id="comment" action="/add_comment" data-eventid="{{ event_id }}" method="POST">
                            <p>
                                Leave a comment:
                            </p>
                            <textarea id="comment_text"></textarea><br>
                            <input type="submit">
                        </form>
                    </div>

                    <!--Displays list of comments-->
                    <ul id="comment-list">
                        {% for comment in comments %}
                            <blockquote><a href="/profile?user_id={{ comment.user.user_id }}">{{ comment.user.name}}: </a> "{{ comment.comment }}"</blockquote>
                        {% endfor %}
                    </ul>
                {% endif %}
        </div>
    </div>
 



    <!--Show bookmark success div-->
    <div class="row">
        <div id="bookmark_success" hidden></div>
    </div>

    <!--Page Header: Event Name-->
    <div class="row">
        <h1>
            {{ event_details.name }}
        </h1>
    </div>

    <!--Event Details-->
    <div class="row">
            <img class="logo" src="{{ event_details['logo'] }}"/>
            <p id="venue_name">
                {{ event_details.venue_name }}
            </p>
            <p id="address">
                {{ event_details.address }}
            </p>
            <p id="start_time">
                {{ event_details.start_time }}
            </p>
            <p id="end_time">
                {{ event_details.end_time }}
            </p>
            <div id="eb_url">
                <a href="{{ event_details['eb_url'] }}">Browse Tickets on Evenbrite
                </a>
            </div>
    </div>

    <!--If the user is in the session, display bookmarks and comments ability, and other users going-->
    {% if "user_id" in session %}   

        <!--Bookmark div-->
            <div>

                <h1>
                    Bookmark Event
                </h1>

                <input class="bookmark" id="going_button" type="radio" name="bookmark" value="going" data-eventid="{{ event_id }}" data-status="going" style="background-color:blue"

                {% if bookmark and bookmark.bookmark_type_id == 1 %}
                checked 
                {% endif %}

                /> I'm Going!


                <input class="bookmark" id="interested_button" type="radio" name="bookmark" value="interested" data-eventid="{{ event_id }}" data-status="interested" style="background-color:blue"

                 {% if bookmark and bookmark.bookmark_type_id == 2 %}
                checked 
                {% endif %}

                /> Interested 


            </div>
           
        <!--Comment div-->
            <div>

                <h1 class="comments">
                        Comments
                </h1>

                    <form id="comment" action="/add_comment" data-eventid="{{ event_id }}" method="POST">
                        <p>
                            Leave a comment:
                        </p>
                        <textarea id="comment_text"></textarea><br>
                        <input type="submit">
                    </form>

            </div>

        <!--Displays list of comments-->
            <ul id="comment-list">

                {% for comment in comments %}
                <blockquote>{{ comment.user.name}}: {{ comment.comment }}</blockquote>
                {% endfor %}

            </ul>


        <!--List of other users going to selected events-->

        {% if users_going %}

        <div>
            <h1>
                Jam Users Going to {{ event_details.name }}
            </h1> 
                    {% for user in users_going %}
                        {% if user.user_id != session["user_id"] %}
                       
                            <p>
                                {{ user.name }}:
                                <a href="/profile?user_id={{ user.user_id }}">

                                    <span class="glyphicon glyphicon-user">
                                    </span>
                                </a>
                            </p>
                    
                        {% endif %}
                    {% endfor %}
        </div>

        {% endif %}   

    <!--Ends if about being logged into session-->

    {% endif %}

    <!--Show event description-->
        <p class="event_description">

            <h1>
                Event Description
            </h1>

            <p id="description">
                {{ event_details.description | safe }}
            </p>
            
        </p>
<!--End tag for container-->    
</div>
<!--Javascript needs to be in the body below all of the html that it calls on. Make sure to include jquery CDN also (in base html)-->

    <script src="/static/bookmark.js"></script>
    <script src="/static/comments.js"></script>

{% endblock %}