{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}

{%block content %}
<br>
<br>
<img style="height:150px;width:750px" src="http://cdn1.umg3.net/214/files/2015/10/biglogo.png">
<br>
<br>
    <form action="/show_events" method="POST">
        Search Events: <input type="text" name="event" required><br>
        Location: <input type="text" name="location" required><br>
        Date: <select name="start_date_kw" required>
                    <option value="today">Today</option>
                    <option value="tomorrow">Tomorrow</option>
                    <option value="this_week">This Week</option>
                    <option value="this_weekend">This Weekend</option>
                    <option value="next_week">Next Week</option>
                    <option value="this_month">This Month</option>
                    <option value="next_month">Next Month</option>
                    
            </select>

        <input type="submit">
    </form>
{% if suggested_event_details %}

<h1>Recommended Events For You Based on Search History</h1>

{% for event in suggested_event_details %}
    <p>{{ event["name"] }}</p>
    <p>{{ event["id"] }}</p>
    <a href="/event_details?event_id={{ event['id'] }}"><img src="{{ event['logo'] }}"/></a>


{% endfor %}

{% endif %}

    
{% endblock %}