{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}

{%block content %}

<!-- Bootstrap Jumbotron-->

<div class="jumbotron text-center">
  <div><img src="/static/jam_logo_white.png"/></div>
  <p class="jumbotron_description">Connecting people through music events!</p> 
</div>



<!--Search For Events-->
  
<div class="container text-center">
  <div class="row">
     <div class="col-sm-12" id="search-div">
      <h1 class="homepage-header">Search</h1>

        <form action="/show_events" method="POST">
            <div class="form-group">
                <label for="event" style="color:#8ca3a3;">Keyword:</label>
                <input type="text" name="event" required>
            </div>

            <div class="form-group">
                <label for="location" style="color:#8ca3a3;">Location:</label>
                <input type="text" name="location" required>
            </div>

            <div class="form-group">
                <label for="date" style="color:#8ca3a3;">Date:</label>
                <select id="date_dropdown" class="form-control" name="start_date_kw" required>
                    <option value="today">Today</option>
                    <option value="tomorrow">Tomorrow</option>
                    <option value="this_week">This Week</option>
                    <option value="this_weekend">This Weekend</option>
                    <option value="next_week">Next Week</option>
                    <option value="this_month">This Month</option>
                    <option value="next_month">Next Month</option>
                        
            </div>

            <div>
              <input class="btn btn-primary" type="submit" value="Submit">
            </div>

        </form>
</div>


 <!--Loading GIF div-->

<div id="loading_gif">
  <h1 class="homepage-header">
    Event Recommendations
  </h1>
  <img src="/static/loading_gif.gif" />
</div>

<div class="container">
  <div id="event_recommendations" class="row" hidden>
    <h1 class="homepage-header">Event Recommendations</h1>
  </div>
</div>



 <!--Shows user a list of suggested events based on past search results-->

<!-- 
 <h1>Event Recommendations</h1>

<div id="loading_gif">
    <img src="/static/loading_gif.gif"/>
</div>

<div id="event_recommendations" hidden>
</div> -->


 <!--Javascript for event_recommendations -->

<script src="/static/event_recommendations.js"></script>

    
{% endblock %}